# Dependencies
node_modules
.pnpm-store

# Build outputs
dist
.next
out
build

# Environment files
.env
.env*.local

# Logs
*.log
logs

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea

# Turbo
.turbo

# Prisma
prisma/migrations/.migrate_lock

# Test coverage
coverage
